

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="/javascripts/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/js/city_country_autoC.js"></script>
<script type="text/javascript" src="/javascripts/js/venue_map.js"></script>

</body>
</html>