{{> header}}
{{> navbar}}

<div class="container">
  <div class="row custom-top-margin img-div">
    <div class="col-md-12">
      
        <img class="img-responsive center-block bgImage" src="../images/Day-Tripper-Background.jpeg" alt="Day-Tripper Background">
      
   </div>
  </div>
</div>

{{> footer}}